[Unit]
Description=X Virtual Frame Buffer Service for TileServer-GL
After=network.target

[Service]
Type=simple
User=root
Group=root

ExecStart=/usr/bin/Xvfb :99 -screen 0 1024x768x24 -ac +extension GLX +render -noreset
ExecStop=/bin/kill -15 $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
