SEARCH_DB_PORT=5432
# attention: if you change the user name you have to change it in the
# initialization too, and rerun it with the new name
SEARCH_DB_USER=postgres
# the password can be changed at any time, but needs to be in sync with search-db.env
SEARCH_DB_PASSWORD=postgres2

# When not sorting according to the bounding box, results are sorted by distance
# to a fixed origin. The coordinates of that origin are specified in WGS84.
SEARCH_SORT_ORIGIN_E=8.30882407298
SEARCH_SORT_ORIGIN_N=47.3038127715
